*.pyc
*~
libyarpgen.a
yarpgen
objs
res
*.swp
found/old-*
check_isa
Test_Makefile
testing_log_*
gen_test_makefile_log_*
statistics_*.log
csmith_statistics_*.log
scripts/testing/process*/*
scripts/testing/result/**

!*/
.idea
*.log
.vs/
build/
out/
.DS_Store